<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<display-name>el</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>cn.ohalo.stock.listener.StockBuyListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>stock</servlet-name>
		<servlet-class>cn.ohalo.stock.servlet.RegStockServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>stock</servlet-name>
		<url-pattern>/stock</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>stocks</servlet-name>
		<servlet-class>cn.ohalo.stock.servlet.StockServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>stocks</servlet-name>
		<url-pattern>/stocks</url-pattern>
	</servlet-mapping>
</web-app>